
* {
    box-sizing: border-box;
    font-size: 1em;
}
body {
    background: pink;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Rowdies', cursive;
    line-height: 1.2em;
    width: 100vw;
    background: rgb(255,117,75);
    background: radial-gradient(circle, rgba(255,117,75,1) 0%, rgba(247,238,122,1) 100%);
}

#btn-desc {
    font-size: .75em;
}

a:link, a:visited {
    color:rgb(158, 54, 6);
}
a:hover {
    color: red;
}



h4 {
    display: inline-block;
    font-size: 1.3em;
    padding: 0 .75em .25em .75em;
    margin-bottom: 0;
    border-bottom: 2px solid black;
    line-height: 1.2;
    min-width: 120px;
    text-align: center;
}
div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    list-style: none;
    justify-items: center;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.1;
}
img {
    order: 0;
    flex-grow: 1;
    border-radius: 100%;
    padding-top: .5em;
   
}
h1 {
    order: 1;
    margin-left: 1em;
    font-size: 2.2em;
}
#title-desc {
    font-size: 0.5em;
}
form {
    display: flex; 
    justify-content: center;
    width: 100%;
    min-height: 15vh;
    align-items: center;
    padding: .75em 1em;
}
input {
    min-width: 225px;
    min-height: 40px;
    padding: .45em .74em;
    font-size: 1.2em;
    border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
    margin: 0 1em;
    outline: none;
    -webkit-appearance: none; /* The CSS -webkit-appearance property enables web authors to change the appearance of HTML elements to resemble native User Interface (UI) controls. */
    
    display: inline-block;
}
input:focus {
	border-color: #dd5c05;
}
button {
    padding: .25em .75em;
    border-radius: 5px;
    text-align: center;
    min-width: 75px;
    transition: all 0.4s;
    font-size: 1.5em;
    margin-left: .5em;
    font-weight: bold;
    cursor: pointer;
    -moz-box-shadow: 2px 5px 10px #000;
	-webkit-box-shadow: 2px 5px 10px #000;
    box-shadow: 2px 5px 10px #0004;
    border: 1px solid black;
}

button span {
    display: inline-block;
    position: relative;
    transition: .4s;

}
button span:after {
    content: '\00bb'; /*special characters >> */
    position: absolute;
    opacity: 0;
    top:0;
    right: -10px;
    transition: .4s;
}
button:hover span{ /* includes text + eventually special character */
    cursor: pointer;
    color: rgb(243, 243, 132);

}
button:hover {
    background-color: #e49966;
    padding: .25em 1em;

}
button:hover span:after { /* this is for the special character */
    opacity: 1;
    right: -17px;
    top: -5px;
    font-size: 1.2em;
   
}

label {
    font-size: 1.4em;
    padding-top: .1em;
    font-weight: bold;
    text-shadow: 1px 1px rgb(48, 44, 44);

  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    min-height: 30vh;
    justify-items: center;
    padding: .75em;
  
  }
  li {
      list-style-type: none;
      align-self: center;
  }
  footer {
      display: flex;
      justify-content: center;
      padding: 1em;
  }
  #description {
      color: rgb(158, 54, 6);
  }
  @media only screen and (min-width: 700px) {
 
    input {
        min-width: 450px;
    }
    
  }
  /* https://electrictoolbox.com/css3-rounded-corner-input/ */